<!-- <div class="ui two item menu">
  <a routerLinkActive="active" class="item" routerLink="/cadastro">Cadastrar Seguro</a>
  <a routerLinkActive="active" class="item" routerLink="/listar">Listar Seguros</a>
</div> -->

<!-- <mat-tab-group>
  <mat-tab label="Cadastrar Seguro" routerLink="/cadastro">  teste</mat-tab>
  <mat-tab label="Listar Seguros" routerLink="/listar"> Content 2 </mat-tab>
</mat-tab-group> -->

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
