<div class="ui card lista-seguros">
  <div class="content">
    <div class="header">Seguros</div>
  </div>
  <div class="content">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let seguro"> {{seguro.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="marcaCarro">
        <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
        <mat-cell *matCellDef="let seguro"> {{seguro.marcaCarro}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nomeProprietario">
        <mat-header-cell *matHeaderCellDef> Nome Prop. </mat-header-cell>
        <mat-cell *matCellDef="let seguro"> {{seguro.nomeProprietario}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <ng-template #carregando>
      Carregando seguros...
    </ng-template>

    <ng-template #semSeguros>
      Não há seguros cadastrados.
    </ng-template>
  </div>
</div>
